@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#player {
	display: none;
}

#radio {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 25px 45px;

	&>.cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 1;
		object-fit: cover;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 2;
	}

	&.show-cover {
		&>.cover {
			-webkit-animation-name: fade-in;
			-webkit-animation-duration: 0.5s;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-delay: 0s;
			animation-name: fade-in;
			animation-duration: 0.5s;
			animation-timing-function: ease-in;
			animation-iteration-count: 1;
			animation-delay: 0s;
		}
	}

	&.hide-cover {
		&>.cover {
			-webkit-animation-name: fade-out;
			-webkit-animation-duration: 0.5s;
			-webkit-animation-timing-function: ease-in;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-delay: 0s;
			animation-name: fade-out;
			animation-duration: 0.5s;
			animation-timing-function: ease-in;
			animation-iteration-count: 1;
			animation-delay: 0s;
		}
	}

	&.visible {
		&>.cover {
			opacity: 1;
		}
	}

	&>* {
		position: relative;
		z-index: 3;
	}
}

.show-info {
	color: $accent;
	text-align: center;

	.show-title {
		font-weight: 700;
		margin: 0;
		line-height: 95px;
		font-size: 90px;
		text-transform: uppercase;

		br {
			display: none;
		}
	}

	.show-author {
		margin: 0;
		font-weight: 700;
		font-size: 28px;
		line-height: 50px;
		text-transform: uppercase;

		.author-name {
			font-family: 'GT-Aplina';
			font-weight: 400;
			font-size: 37px;
			text-transform: none;
		}
	}
}

#qr-btn {
	font-family: Kern standard bold;
	text-decoration: none;
	max-width: 370px;
	width: 100%;
	line-height: 1;
	font-weight: 700;
	font-size: 20px;
	height: 45px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all .5s ease;
	line-height: 95px;
	border: 1px solid $accent;
	margin-top: 70px;
	opacity: 0;
	outline: none;
	background-color: transparent;
	color: $accent;
	position: relative;
	z-index: -1;
	visibility: hidden;

	&.active {
		opacity: 1;
		z-index: 1;
		visibility: visible;
	}

	&:hover {
		background-color: $accent;
		color: #000;
	}
}

.get-app.mob {
	display: none;
}

@media only screen and (max-width : 1200px) {
	.show-info {
		.show-title {
			font-size: 70px;
			line-height: 1.1;
		}

		.show-author {
			font-size: 22px;
			line-height: 1;
		}
	}
}

@media only screen and (max-width: 768px) {
	#radio {
		padding: 15px 15px 25px 15px;
	}

	.show-info {
		.show-title {
			font-size: 48px;
		}

		.show-author {
			font-size: 16px;

			.author-name {
				font-size: 24px;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.show-info {
		.show-title {
			font-size: 32px;
			margin-bottom: 5px;

			br {
				display: block;
			}
		}

		.show-author {
			font-size: 14px;

			.author-name {
				font-size: 18px;
			}
		}
	}

	#qr-btn {
		display: none;
	}

	#radio .get-app.mob {
		font-family: Kern Standard Bold;
		position: absolute;
		bottom: -100%;
		left: 0;
		width: 100%;
		background-color: $accent;
		height: 72px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: #000;
		font-weight: 700;
		font-style: italic;
		font-size: 15px;
		transition: all .5s ease;

		&.active {
			bottom: 0;
		}
	}
}