@media screen and (max-width: 1660px) {
    .main {
        .archive {
            padding: 2rem 2rem 0 2rem;
        }
        .archive__calendar--desktop {
            padding: 2.5rem 1.5rem 0.5rem 1.5rem;
            width: 26rem;
        }
    }
}

@media screen and (max-width: 1024px) {
    .main {
        .archive {
            flex-direction: column;
            &__header {
                .vc-container {
                    .vc-weeks {
                        padding: 0 2rem;
                        & > *:not(:last-child) {
                            margin-bottom: 1.25rem;
                        }
                    }
                    .vc-day .vc-day-content {
                        width: 3.25rem;
                        height: 3.25rem;
                        font-size: 1.325rem;
                    }
                    .vc-header {
                        padding: 0 2rem;
                        .vc-arrow {
                            &:hover {
                                background-color: $primary;
                                color: $black;
                            }
                        }
                    }
                }
            }
            &__search {
                &-input::placeholder {
                    opacity: 0.45;
                    font-weight: bold;
                }
                &-clear {
                    &--mobile {
                        @include flex-center;
                    }
                    &--desktop {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .main {
        .archive {
            &__header {
                align-items: flex-start;
                margin-bottom: 1rem;
            }
            &__calendar-open.active button {
                background-color: $primary;
                img {
                    filter: brightness(0);
                }
            }
            &__calendar-open {
                top: 0;
                &--desktop {
                    display: none;
                }
                &--mobile {
                    display: block;
                }
                button {
                    margin: 0 auto;
                }
                span {
                    width: 35px;
                }
            }
            &__calendar--desktop {
                display: none;
            }
            &__calendar--mobile {
                display: none;
                position: absolute;
                top: 6rem;
                left: 0;
                background-color: $black;
                width: 100%;
                height: calc(100% - 6rem);
                z-index: 4;
                padding: 1.25rem;
                &.active {
                    @include flex-column;
                }
                .vc-weekday {
                    padding: 0;
                }
                &-controls {
                    @include grid(2, 1rem);
                    margin-top: auto;
                    button {
                        @include flex-center;
                        @include font-size(18px);
                        width: 100%;
                        padding: 1rem;
                        border: 1px solid $primary;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: bold;
                        line-height: 1;
                        &.archive__calendar--mobile-cancel {
                            background-color: transparent;
                            color: $primary;
                        }
                        &.archive__calendar--mobile-confirm {
                            background-color: $primary;
                            color: $black;
                        }
                    }
                }
            }
            &__search {
                width: 98%;
                &-input {
                    font-size: 16px !important;
                }
                &-icon {
                    display: none;
                }
                &-clear {
                    @include font-size(16px);
                    line-height: 1;
                    top: 4px;
                    img {
                        width: 0.75rem;
                        margin-left: 0.5rem;
                    }
                }
            }
            &-preview {
                &__date {
                    @include font-size(16px);
                }
                &__title {
                    @include font-size(40px);
                    line-height: 1;
                }
                &__author {
                    @include font-size(20px);
                    em {
                        @include font-size(36px);
                        position: relative;
                        top: 2px;
                    }
                }
                &__description {
                    @include font-size(18px);
                    line-height: 1.25;
                }
                &__button {
                    width: 4rem;
                    height: 4rem;
                    &--visit {
                        img {
                            width: 3.25rem;
                            height: 1.625rem;
                        }
                    }
                    &.share-button {
                        img {
                            width: 1.625rem;
                        }
                    }
                }
            }
        }
    }
}