@media screen and (max-width: 768px) {
    #base-layout {
        main > .curator {
            display: block;
            .curator__photo {
                position: fixed;
                height: 50%;
                inset: 6.66rem 0 auto;
                z-index: 1;
                &::after {
                    height: 30%;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.97));
                }
            }
            .curator__info {
                display: block;
                padding: 0;
                margin: 65vw 0 0;
                padding-bottom: 5.5rem;
                overflow: visible;
            }
            .curator__details {
                display: block;
                height: auto;
            }
            .curator__name {
                @include font-size(42px);
                position: sticky;
                top: 7.5rem;
                height: 2.5rem;
                margin-bottom: 0;
                padding-inline: 2.5rem;
                z-index: 4;
                &::before {
                    content: '';
                    position: absolute;
                    inset: calc(26vw * -1) 0 0;
                    height: calc(26vw + 2.5rem);
                    background-image: linear-gradient(to top, $black, transparent);
                    z-index: -1;
                }
            }
            .faux-crop {
                display: block;
                position: fixed;
                inset: 6.66rem 0 auto;
                overflow: hidden;
                height: 10rem;
                z-index: 3;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    position: relative;
                    z-index: 1;
                }
            }
            .curator__about {
                position: relative;
                z-index: 2;
                padding: 1.5rem 2.5rem 0 2.5rem;
                background-color: $black;
            }
            .curator__links {
                @include flex-center-vert;
                position: fixed;
                left: 0;
                bottom: 4.5rem;
                width: 100%;
                background-color: $black;
                margin-left: 0;
                padding: 1rem 2.5rem;
                z-index: 2;
            }
            .curator__link {
                width: 3rem;
                img {
                    width: 1.5rem;
                }
                &:not(:last-child) {
                    margin-bottom: 0;
                    margin-right: 1.5rem;
                }
            }
            .curator__close {
                position: fixed;
                top: 8.5rem;
                left: 2rem;
                z-index: 5;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #base-layout {
        main > .curator {
            .curator__links {
                bottom: 5rem;
            }
        }
    }
}