@media screen and (max-width: 1660px) {
    .main {
        .show {
            .current-track {
                padding: 1.5rem 3.5rem;
                height: 8rem;
                & > p,
                &__info * {
                    font-size: 1rem;
                }
                &__info > *:not(:last-child) {
                    margin-bottom: 0.75rem;
                }
            }
            &__details {
                padding: 1.5rem 2.5rem;
            }
            &__title {
                @include font-size(54px);
                margin-bottom: 0.25rem;
            }
            &__author {
                @include font-size(28px);
                margin-bottom: 1rem;
                em {
                    @include font-size(52px);
                }
            }
            &__description {
                @include font-size(20px);
            }
            &__date {
                @include font-size(24px);
            }
            &__close {
                top: 1.5rem;
                right: 2.5rem;
            }
            &-tracklist-button img {
                width: 7rem;
            }
            &__nowplaying {
                top: 2.75rem;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .main {
        .show {
            border-top: none;
            &__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                flex: unset;
                -webkit-touch-callout: none;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 76.04%);
                    height: 76.04%;
                    width: 100%;
                }
            }
            .radio__timer {
                margin-left: 0;
                span {
                    @include font-size(85px);
                    font-weight: 100;
                }
            }
            &__info {
                flex: 0 1 100%;
                border-right: none;
            }
            &__details {
                padding: 1.5rem 2rem 0 2rem;
                position: relative;
                justify-content: flex-end;
                & > * {
                    position: relative;
                    z-index: 3;
                }
            }
            .show-tracklist-button {
                margin-left: 1.5rem;
                top: 0;
            }
            &__title {
                @include font-size(42px);
                margin-bottom: 0.625rem;
                letter-spacing: 0.5px;
            }
            &__author {
                @include font-size(22px);
                margin-bottom: 1.325rem;
                em {
                    @include font-size(40px);
                    margin-left: 0.25rem;
                }
            }
            &__description {
                @include font-size(19px);
                margin-bottom: 0;
            }
            &__player {
                margin-top: 1rem;
                margin: 0 -2rem;
                background-color: $black;
                padding: 2rem;
                justify-content: space-between;
            }
            &__close {
                right: unset;
                top: 2rem;
                left: 2rem;
            }
            &__row .show__share {
                display: none;
            }
            &__nowplaying {
                top: 3rem;
                left: unset;
                right: 2rem;
                transform: none;
            }
            .current-track {
                padding: 1.5rem 2rem;
                height: 9.25rem;
                position: relative;
                z-index: 2;
                &__info {
                    max-width: 280px;
                }
                & > p,
                &__info * {
                    font-size: 1.25rem;
                }
                &__info>*:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}