#qr-popup {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 6;
		background-color: rgba(0, 0, 0, 0.8);
	}
	&.active {
		visibility: visible;
		opacity: 1;
		z-index: 5;
	}
	.qr-popup__content {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 370px;
		width: 100%;
		background-color: #FFEF57;
		text-align: center;
		padding: 20px;
		z-index: 7;
		transition: all 0.3s ease;
		&.active {
			top: 50%;
		}
		p {
			font-family: "Kern Standard Bold";
			margin: 0;
			color: #000;
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
		}
		img {
			margin: 30px auto;
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

#qr-close {
	cursor: pointer;
}