<footer class="footer" ref="footer">
	<div class="show-control">
		<div class="now-playing disable-aos-mobile" data-aos="fade-right" data-aos-delay="1500" data-aos-duration="1000">
			<div class="fade-on-play" :class="{active: isPlaying || isPlayingMob}">
				<strong>NOW PLAYING:</strong>
				<em>
					<span v-text="title" id="current-show-title"/> w/ <span v-text="autor" id="current-show-autor"/>
				</em>
			</div>
		</div>

		<button class="player-btn play disable-aos-mobile" data-aos="fade-up" @click="$emit('play', $event); isPlaying = !isPlaying" ref="playBtn"/>

		<div class="duration-wrapper disable-aos-mobile" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500">
			<div class="fade-on-play" :class="{active: isPlaying || isPlayingMob}">
				<div v-text="since" v-if="sinceActive" class="duration since" @click="sinceActive = !sinceActive"/>
				<div v-text="until" v-else class="duration until" @click="sinceActive = !sinceActive"/>
			</div>
		</div>
	</div>
</footer>