@font-face {
    font-family: 'Kern Standard';
    src: url('../fonts/Kern-Standard-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kern Standard';
    src: url('../fonts/Kern-Standard-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Kern Standard';
    src: url('../fonts/Kern-Standard-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Alpina';
    src: url('../fonts/GT-Alpina-Condensed-Thin-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Azeret Mono';
    src: url('../fonts/Azeret-Mono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}