@media screen and (min-width: 480px) {
    // SCROLL BAR
    ::-webkit-scrollbar {
        width: 0.35rem;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #222;
    }

    ::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1024px) {
    // SCROLL BAR
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb {
        display: none;
    }
}

@media screen and (max-width: 1660px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

// disable landscape mode on mobile phones
/* @media screen and (pointer: coarse) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        height: 100vw;
    }
} */

@import "./mobile/header.mobile.scss";
@import "./mobile/show.mobile.scss";
@import "./mobile/schedule.mobile.scss";
@import "./mobile/curator-info.mobile.scss";
@import "./mobile/archive.mobile.scss";
@import "./mobile/footer.mobile.scss";