@import "fonts";
@import "libs";
@import "base";
@import "vars";
@import "mixins";

// SCROLL BAR
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #434343;
}

::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
}


section {
    min-height: 100%;
    width: 100%;
}

.main {
    position: relative;
    overflow-y: auto;
    height: 100%;
}

@import "media";