@import "./kit/fonts";
@import "./kit/libs";
@import "./kit/base";
@import "./kit/vars";
@import "./kit/mixins";

// Italic text
em {
    font-family: 'GT Alpina', sans-serif;
}

section {
    height: inherit;
    width: 100%;
}

#modal {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    &--lock {
        overflow: hidden;
    }
}

.share-button,
.copy-button {
    @include flex-center;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $primary;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    img {
        display: block;
        width: 1.25rem;
        height: auto;
        position: relative;
        transition: filter 0.2s ease-in;
    }
    &:hover {
        background-color: $primary;
        img {
            filter: brightness(0);
        }
    }
}

.share-button img {
    left: -2px;
}

/* -------------- VUE TRANSITION --------------- */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s linear;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
/* --------------------------------------------- */


/* -------------- VUE DATE-PICKER STYLES --------------- */
.archive__calendar--desktop {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    z-index: 7;
    background-color: $primary;
    width: 28rem;
    min-width: unset;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
    .archive__calendar-close {
        @include flex-center;
        @include font-size(14px);
        cursor: pointer;
        text-transform: uppercase;
        color: #80782C;
        font-weight: bold;
        line-height: 1;
        position: absolute;
        bottom: 1.75rem;
        right: 2rem;
        z-index: 2;
        img {
            margin-left: 0.325rem;
            position: relative;
            top: -1.5px;
        }
    }
    .vc-container,
    .vc-weekday,
    .vc-title-wrapper span {
        color: $black;
        text-transform: uppercase;
    }
    .vc-header {
        .vc-arrow {
            background: $black;
            color: $primary;
            border: 2px solid $black;
            transition: none;
            &:hover {
                background: transparent;
                color: $black;
            }

            &:disabled {
                background-color: rgba($color: $black, $alpha: 0.75);
                border-color: rgba($color: $black, $alpha: 0.75);
                color: $primary;
                pointer-events: none;
            }
        }
    }
    .vc-weeks {
        margin-top: 1rem;
        .vc-weekdays {
            margin-bottom: 1.5rem !important;
        }
        & > *:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    .vc-pane {
        .vc-header {
            bottom: 2rem;
        }
    }
    .vc-day {
        .vc-day-content {
            border: 2px solid $black;
            background-color: transparent;
            color: $black;
            font-weight: bold;
            &.vc-highlight-content-solid {
                background-color: $black;
                color: $primary;
            }
            &.vc-disabled {
                background-color: rgba($color: $black, $alpha: 0.15);
                color: $black;
                pointer-events: none;
            }
            @media(hover: hover) {
                &:not(.vc-disabled):hover {
                    background-color: $black;
                    color: $primary;
                }
            }
            @media(hover: none) {
                &:not(.vc-disabled):active {
                    background-color: $black;
                    color: $primary;
                }
            }
        }
    }
    
}

.vc-container,
.vc-weekday,
.vc-title-wrapper span {
    color: $primary;
    text-transform: uppercase;
}

.vc-weekday {
    padding-bottom: 0;
}

.vc-pane-header-wrapper {
    position: relative;
}

.vc-header {
    height: auto;
    margin-top: 0;
    .vc-arrow {
        background: $primary;
        color: $black;
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        aspect-ratio: 1;
        border: 2px solid $primary;
        transition: all 0.2s ease-in;
        box-shadow: none;
        outline: none;
        svg {
            width: 1.25rem;
        }
        &:hover {
            background: transparent;
            color: $primary;
        }
        &.disabled {
            background-color: rgba($color: $primary, $alpha: 0.25);
            color: $primary;
            pointer-events: none;
        }
    }
}

.vc-pane {
    .vc-header {
        height: 0;
        position: relative;
        bottom: 2.625rem;
        margin-bottom: 1rem;
        .vc-title {
            pointer-events: none;
        }
    }
}

.vc-day {
    .vc-day-content {
        @include font-size(20px);
        font-family: 'Kern Standard', sans-serif;
        font-weight: bold;
        width: 2.75rem;
        height: 2.75rem;
        aspect-ratio: 1;
        line-height: normal;
        border: 2px solid $primary;
        background-color: $black;
        border-radius: 50%;
        transition: all 0.2s ease-in;
        box-shadow: none;
        outline: none;
        &.vc-highlight-content-solid {
            background-color: $primary;
            color: $black;
        }
        &.vc-disabled {
            background-color: rgba($color: $primary, $alpha: 0.25);
            color: $primary;
            pointer-events: none;
        }
        @media(hover: hover) {
            &:not(.vc-disabled):hover {
                background-color: $primary;
                color: $black;
            }
        }
        @media(hover: none) {
            &:not(.vc-disabled):active {
                background-color: $primary;
                color: $black;
            }
        }
    }
}

.vc-weeks {
    & > *:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.vc-highlight-bg-solid {
    background-color: transparent;
}

/* ------------------------------------------------------ */


/* ------- SHOW COMPONENT STYLES (Radio, Archive) ------- */
.show {
    display: flex;
    overflow: hidden;
    position: relative;
    &__info {
        @include flex-column;
        flex: 0 1 55%;
    }
    &__details {
        @include flex-column;
        flex: auto;
        background-color: $black;
        color: $primary;
        padding: 3rem 3.5rem;
    }
    &__cover {
        display: none;
    }
    &__title {
        @include font-size(72px);
        line-height: 102%;
        letter-spacing: -1.659px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
    }
    &__author {
        @include font-size(48px);
        font-weight: bold;
        margin: 0 0 1rem 0;
        line-height: 1;
        em {
            @include font-size(80px);
            display: inline-block;
            margin-left: 0.5rem;
            cursor: pointer;
        }
    }
    &__description {
        @include font-size(22px);
        margin: 0;
        font-weight: normal;
        letter-spacing: 0.23px;
        line-height: 125%;
        max-width: 620px;
        margin: 0 0 2.25rem 0;
    }
    &__player {
        @include flex-center-vert;
        margin-top: auto;
    }
}

@import "media";