@import "./kit/fonts";
@import "./kit/libs";
@import "./kit/base";
@import "./kit/vars";
@import "./kit/mixins";

// Italic text
em {
    font-family: 'GT Alpina', sans-serif;
}

section {
    height: inherit;
    width: 100%;
}

#modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    &--lock {
        overflow: hidden;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s linear;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

@import "media";